{% extends 'base.html' %} 
{% load static %} 
{% block content%}


<!-- <link rel="stylesheet" href="{% static 'css/index.css' %}" /> -->


<div>


  <div class="text-center">
    <img src="{% static 'images/about-us.jpg' %}" class="img-fluid" alt="Banner" />
  </div>

  <section>
    <p>Welcome to VIP Restaurant, where we take pride in serving the finest Bengali recipes that delight your taste buds and evoke the essence of Bengal's rich culinary heritage.</p>
    <p>At VIP Restaurant, we believe in crafting exceptional dining experiences. Our chefs are dedicated to creating mouthwatering dishes using authentic Bengali ingredients and traditional cooking techniques.</p>
    <p>Whether you're a connoisseur of Bengali cuisine or new to its flavors, our menu offers a diverse range of dishes to cater to every palate. From classic favorites to innovative culinary creations, each dish is a celebration of Bengali culinary artistry.</p>
    <p>Join us on a gastronomic journey and indulge in the flavors of Bengal at VIP Restaurant. We look forward to serving you with warmth, hospitality, and the unmistakable taste of authentic Bengali cuisine.</p>
  </section>

</div>



{% endblock %}